.app-download {
    background-image: url(/media/background-hero.png);
    background-position: bottom;
    background-attachment: fixed;
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
    z-index: 1;
    .download-img {
        width: 600px;
    }
    
}
@keyframes float {
    0% {
        transform: translatey(0px);
    }

    50% {
        transform: translatey(-20px);
    }

    100% {
        transform: translatey(0px);
    }
}
.how-it-works{
    @include set-background($light-text);
    position: relative;
    &__coins{
        position: absolute;
        opacity: 0.5;
        img{
            width: 180px;
        }
        &__btc{
            transform: translatey(0px);
            animation: float 6s ease-in-out infinite;
        }
    }
    &__item{
        padding: 30px;
        text-align: center;
        position: relative;
        z-index: 1;
        &.line-right::before{
            content: "";
            position: absolute;
            height: 2px;
            width: 100%;
            left: 50%;
            top: 60px;
            background-color: $primary-color;
            z-index: -1;
        }
        .step{
            display: inline-block;
            height: 60px;
            width: 60px;
            background-color: $primary-color;
            font-size: 2rem;
            text-align: center;
            line-height: 4rem;
            border-radius: 50%;
            color: #ffffff;
            font-weight: 500;
            margin: 0 0 15px;
        }
        & h3 {
            margin: 20px 0;
            color: $black-900;
            text-transform: capitalize;
        }
        & p {
            margin: 0;
            color: $black-400;

    }
}
}