/*------------------------Hero Landing   --------------------------------  */
.hero {
    background-image: url(/media/background-hero.png);
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
    min-height: 100vh;
    font-size: 1.25rem;
    color: $light-text;
    position: relative;
    z-index: 1;

    .effect-wrap .effect {
        position: absolute;
        z-index: -1;
    }

    .effect-wrap .effect-1 {
        left: 10%;
        top: 20%;
        font-size: 20px;
        color: $color-1;
        animation: spin-01 5s ease infinite;
    }

    .effect-wrap .effect-2 {
        left: 5%;
        bottom: 30%;
        font-size: 20px;
        color: $color-1;
        animation: spin-01 5s ease infinite;
    }

    .hero-img {
        position: relative;
        right: -4rem;
        width: 350px;
        border-radius: 2rem;
        animation: bounce-top 3s ease infinite;
    }
}

/*------------------------Hero How to buy   --------------------------------  */
.hero-buy {
    background-image: url(/media/bg-buy.png);
    background-size: cover;
    background-repeat: no-repeat;
    min-height: 100vh;
    font-size: 1.25rem;
    color: $light-text;
    position: relative;
    z-index: 1;

    .effect-wrap .effect {
        position: absolute;
        z-index: -1;
    }

    .effect-wrap .effect-1 {
        left: 10%;
        top: 20%;
        font-size: 20px;
        color: $color-1;
        animation: spin-01 5s ease infinite;
    }

    .effect-wrap .effect-2 {
        left: 5%;
        bottom: 30%;
        font-size: 20px;
        color: $color-2;
        animation: spin-01 5s ease infinite;
    }

    .hero-img {
        position: relative;
        right: -4rem;
        border-radius: 2rem;
        width: 400px;
    }
}