/*------------------------ Navigation Bar  --------------------------------  */
.navigation-bar {
    background-color: #f5f7f6;

    &__logo,
    .nav-link {
        color: $primary-color;
        font-weight: 500;
    }

    .navigation-link {
        position: relative;

        &:hover::before {
            transform: scale(1);
        }

        &::before {
            content: "";
            position: absolute;
            left: 0;
            bottom: 0;
            right: 0;
            height: 1px;
            background-color: $secondary-color;
            transition: all 0.5s ease;
            transform: scale(0);
        }
    }
}